@{
    ViewData["Title"] = "Home Page";
}


<h2>Welcome to Fall Beans!</h2>
<h4>Something catchy should probably go here!</h4>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <img class="image-background" src="https://i.imgur.com/JQGaW1u.gif">
    </div>
</body>
</html>
