
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>
<br />
<br />
    
    <h3>Draconic Chai Latte:</h3>
    <img src="/images/dragon.png">
    <p>
    Our classic Chai Latte with some added 'Dragon' spice for a kick</p>
    <br />
    <br />
    <h3>Cold Brew Energy Freezie:</h3>
    <img src="/images/freeze.png">
    <p>
    Espresso and energy infused Freezie Drink!</p>
    <br />
    <br />
    <h3>Classic Burger:</h3>
    <img src="/images/burger.png">
    <p>
    Classic yet delicious take on the American cheeseburger, 1 1/2 lb burger /w cheese, lettuce, tomato, onion,</p>

    <br />
    <br />

    <h3>Fries:</h3>
    <img src="/images/fries.png">
    <p>
    Lightly salted and steaming hot french fries</p>

    <br />
    <br />

    <br />
    <br />
